alias ls='exa -l --color=always --group-directories-first'
alias lsa='exa -la --color=always --group-directories-first'
alias activate-headset='pacmd set-default-sink alsa_output.usb-Kingston_HyperX_7.1_Audio_00000000-00.analog-stereo'
alias activate-stereo='pacmd set-default-sink alsa_output.pci-0000_00_1f.3.analog-stereo'
alias screenkey='screenkey -p bottom -s small --scr 1 -t 0.4 --vis-shift'
alias grep='grep --color'
alias screenshot='import `date +%Y-%m-%d`.png'
alias xscreenshot='import png:- | xclip -selection clipboard -t image/png -i'
