[xin_0]
file=/home/malnajdi/Wallpapers/{{ default_user_wallpaper_name }}.png
mode=0
bgcolor=#000000

[xin_1]
file=/home/malnajdi/Wallpapers/{{ default_user_wallpaper_name }}.png
mode=0
bgcolor=#000000

[xin_2]
file=/home/malnajdi/Wallpapers/{{ default_user_wallpaper_name }}.png
mode=0
bgcolor=#000000