// Place your key bindings in this file to override the defaultsauto[]
[
    {
        "key": "ctrl+k ctrl+z",
        "command": "workbench.action.toggleCenteredLayout"
    },
    {
        "key": "ctrl+k n",
        "command": "explorer.newFile",
        "when": "explorerViewletFocus"
    }
]
