{
    "workbench.colorTheme": "Visual Studio Dark",
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter-notebook"
    },
    "explorer.confirmDragAndDrop": false,
    "zenMode.hideLineNumbers": false,
    "window.zoomLevel": 2,
    "notebook.cellToolbarLocation": {
        "default": "right",
        "jupyter-notebook": "left"
    },
    "editor.scrollbar.horizontal": "hidden",
    "editor.scrollbar.vertical": "hidden",
    "editor.minimap.enabled": false,
    "editor.fontFamily": "mononoki Nerd Font Mono",
}